/*included a set of variables
  - color pallet
*/
:root {
  --font-family-2: Poppins, sans-serif;
  --color-7: #FFFFFF;
  --color-8: #AAA6C3;
  --color-9: #151030;
  --color-10: rgb(5, 8, 22);
}

.navbar-nav {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar {
  background-color: #050816 !important;
}

.navbar-brand {
  margin: 0 !important;
}

.nav-link {
  font-family: var(--font-family-2) !important;
  color: var(--color-8) !important;
  font-size: 18px !important;
}

.navbar-toggler {
  background-color: var(--color-8) !important;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-7) !important;
}

/* included a backgroud color  */
body {
  background-color: var(--color-9) !important;
}

h1 {
  font-family: var(--font-family-2) !important;
  color: var(--color-7) !important;
  font-size: 20px !important;
  padding: 0 0 0 40px !important;
  text-align: center !important;
}



